
body {
    
    background-image: url("newcode.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0px;
}


.heading1{
  
    text-align: center;
    background-color: #E6E6FA;
    padding-bottom: 25px;
    display: grid;
    

  
   
   
   
}

#buttons{
    
    display:flex;
    grid-row-start: 3;
    justify-content: center;
    
}

